[workspace]
resolver = "2"
members = [
    "core",
    "ast",
    "nst",
    "hir",
    "mir",
    "interpreter",
    "runtime",
    "codegen",
    "codegen/c",
    "llvm",
    "compiler",
    "stdlib-macros",
    "stdlib"]

default-members = ["compiler", "interpreter"]